*
{   
  margin: 0x;
  padding: 0x;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}
body 
{
    background-color:rgb(197, 193, 193);
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.container
{
    position:relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: antiquewhite;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgb(26, 26, 27);
}
.container .left_side 
{
    position: relative;
    background-color: rgb(56, 93, 161);
    padding: 40px;

}
.profiletext
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(37, 37, 61);
}
.profiletext .imgbx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.profiletext .imgbx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profiletext h2
{
    color: beige;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;

}
.profiletext h2 span
{
    font-size: 0.8em;
    font-weight: 300;
}
.contactinfo
{
    padding-top: 30px;
    text-align: center;

}
.title
{
    color: antiquewhite;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.contactinfo ul
{
    position: relative;
}
.contactinfo ul li
{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
    text-align: left;
}
.contactinfo ul li .icon
{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: rgb(255, 255, 255); 
}
.contactinfo ul li span
{
    color: antiquewhite;
    font-weight: 300;

}
.contactinfo.education li
{
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.contactinfo.education h5
{
    color: rgb(4, 255, 255);
    font-weight: 500;
    font-size: medium;
}
.contactinfo.education h4:nth-child(2)
{
    color: rgb(243, 243, 243);
    font-weight: 500;
}
.contactinfo.education h4
{
    font-weight: 300;
    color: antiquewhite;
}


.container .right_side 
{
    position: relative;
    background-color: rgb(213, 231, 138);
    padding: 40px;
    
}
.title2
{
    color: rgb(26, 26, 27);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
    color: rgb(37, 37, 61);
}
.about .box
{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.about .box .year_company
{
    min-width: 150px;

}
.about .box .year_company h5
{
    text-transform: uppercase;
    color: rgb(78, 78, 13);
    font-weight: 600;
    
}
.about .box .text h4
{
    text-transform: uppercase;
    color: blueviolet;
    font-size: 16px;

}
.skills .box
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
}
.skills .box h4
{
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
    color: rgb(20, 20, 95);
    font-weight: 500;
    
    
}
